@import "reset";
@import "themes/light";
@import "variables/global";
@import "themes/dark";

body {
    font: var(--font-m);
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-code);
    border-radius: 5px;
}

.app {
    color: var(--primary-color);
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px 20px 20px 40px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    width: 100%;
}
