.avatar {
    margin: 0 auto;
}

.title {
    margin-top: 25px;
}

.skeleton {
    margin-top: 15px;
}

.avatarWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.articleInfo {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.infoWrapper {
    display: flex;
}

.icon {
    width: 20px;
    margin-right: 5px;
}
