.Button {
    cursor: pointer;
    color: var(--primary-color);
}

.clear {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
}

.outline {
<<<<<<< HEAD
    padding: 10px 15px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}
=======
    padding: 5px 15px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}
>>>>>>> ebb6aaa756a5865b8934b0eba800db297368387c
