.Button {
    cursor: pointer;
    padding: 6px 15px;
    font-weight: 600 !important;
    border-radius: 5px;
}

.clear {
    color: var(--primary-color);
}

.clearInverted {
    color: var(--inverted-primary-color);
}

.clear,
.clearInverted {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
}

.outline {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.outlineInverted {
    border: 1px solid var(--inverted-primary-color);
    color: var(--inverted-primary-color);
}

.outlineRed {
    border: 1px solid var(--red-light);
    color: var(--red-dark);
}

.background {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.backgroundInverted {
    background-color: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
}

.contained {
    background-color: var(--btn-contained-color);
    color: #eaedf3;
    border: none;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.8;
    }
}

.outline,
.outlineInverted,
.outlineRed,
.background,
.backgroundInverted {
    background: none;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.8;
    }
}

.square {
    padding: 0;
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.5;
}
