.item {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.link {
    margin-left: 10px;
    opacity: 1;
    transition: color 0.3s;

    &:hover {
        color: var(--accent-color);
    }
}

.icon {
    fill: var(--accent-color);
    width: 25px;
}

.collapsed {
    .link {
        display: none;
        transition: 0.3s opacity;
        width: 0;
    }

    .icon {
        margin-left: 5px;
    }
}
