.placeholder {
    margin-bottom: 5px;
}

.input {
    width: 100%;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: var(--inverted-primary-color);
    border-radius: 5px;
    padding: 5px;

    &:focus {
        outline: var(--primary-color);
    }
}

.readonly {
    opacity: 0.6;
}
