.label {
    margin-right: 5px;
}

.select {
    outline: none;
    color: var(--primary-color);
    background: var(--inverted-primary-color);
    padding: 5px 10px 5px 5px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}
