.app_dark_theme {
    // Бэкграунд
    --bg-color: #0e141b;
    --inverted-bg-color: #f7f8f8;
    --bg-code: #383838;

    // Основной цвет
    --primary-color: #eaedf3;
    --inverted-primary-color: #111827;

    // Вторичный цвет
    --secondary-color: rgb(234 237 243);
    --inverted-secondary-color: : rgb(1 4 9);

    // Акцентный цвет
    --accent-color: rgb(40 200 72);
    --border-color: #1b1c1f;

    // Скелетон
    --skeleton-color: rgb(14 13 13);
    --skeleton-shadow: rgb(1 4 9);
}
