.app_dark_theme {
    --bg-color: #0e141b;
    --inverted-bg-color: #f7f8f8;
    --primary-color: #eaedf3;
    --inverted-primary-color: #111827;
    --secondary-color: rgb(234 237 243);
    --inverted-secondary-color: : rgb(1 4 9);
    --border-color: #1b1c1f;
    --accent-color: rgb(40 200 72);
}
