:root {
    --bg-color: #d3d3d3;
    --inverted-bg-color: #042b7d;
    --primary-color: #0232c2;
    --secondary-color: #0449e0;
    --inverted-primary-color: #1bcc1b;
    --inverted-secondary-color: #049604;
}
