:root {
    --bg-color: #f7f8f8;
    --inverted-bg-color: #0e141b;
    --primary-color: #111827;
    --inverted-primary-color: #eaedf3;
    --secondary-color: rgb(1 4 9);
    --inverted-secondary-color: rgb(234 237 243);
    --border-color: #d9dbdb;
    --accent-color: rgb(0 108 172);
}
