.ArticleDetailsPage {
    min-height: 100%;
}

.backIcon {
    width: 35px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
        opacity: 0.8;
    }
}

.commentTitle {
    margin-top: 20px;
}

.recommendation {
    margin-top: 20px;
}
