.Card {
    border-radius: 15px;
}

.default {
    background-color: var(--bg-card);
    border: 1px solid var(--border-color);
}

.outlined {
    background-color: var(--inverted-secondary-color);
    border: 1px solid var(--border-color);
    transform: scale(1.1);
    transition: transform 0.2s;
}
