.ProfilePageHeader {
    display: flex;
    margin-bottom: 20px;
}

.btnsWrapper {
    margin-left: auto;
}

.editBtn {
    margin-left: auto;
}

.btns {
    margin-left: auto;
}

.saveBtn {
    margin-right: 10px;
}
