.menu {
    position: absolute;
    z-index: 10000;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background: var(--bg-card);
}

.item {
    padding: 10px 25px;
    border: none;
    width: 100%;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
}
